body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2eb;
}
footer {
  background-color: #ddd;
}

.carousel-inner img {
  height: 300px; /* Ajuste o valor conforme a altura desejada */
  object-fit: cover; /* Garante que a imagem se ajuste sem deformar */
}